body {
    padding: 0 1rem;
}

section#user-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1.5rem;
}

article.card {
    background-color: #ccc;
    display: inline-grid;
    grid-gap: 1rem;
    padding: 1.5rem;
    border-radius: 20px;

}